body {
    background-image: "https://vignette.wikia.nocookie.net/yugioh/images/d/db/MasterDuel.png/revision/latest?cb=20170719164238"
  }

.centerAlign{
    max-width: 50%;
    margin: auto;
}

.monsterCard{
    background-color:goldenrod;
    height: "55px";
    width:"25px"
}